article {
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photographer-name {
    color: $text-color-primary;
    text-align: center;
    font-family: $base-font-family;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .photographer-location {
    color: $text-color-secondary;
    text-align: center;
    font-family: $base-font-family;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .photographer-tagline {
    color: $text-color;
    text-align: center;
    font-family: $base-font-family;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .photographer-price {
    color: $text-color-tertiary;
    text-align: center;
    font-family: $base-font-family;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.photographer-portrait {
  width: 12.5rem;
  height: 12.5rem;
  flex-shrink: 0;
  border-radius: 50%;
  display: block;
  object-fit: cover;

  &:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}
