.dropdown {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 2rem 0;
  gap: 2rem;
}

.dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3125rem;
  background: $primary-color;
  color: $text-color-quaternary;
  text-align: left;
  padding: 21px;
  width: 170px;
  height: 70px;
  font-family: "DM Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 6rem;
  left: 6.3rem;
  border-radius: 0.3125rem;
  background: $primary-color;
  color: $text-color-quaternary;
  width: 170px;
  height: 110px;
  font-family: "DM Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 1;
}

.dropdown-menu-item {
  align-items: center;
  border-top-color: $text-color-quaternary;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background: $primary-color;
  color: $text-color-quaternary;
  text-align: left;
  padding: 21px;
  width: 170px;
  height: 70px;
  font-family: "DM Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.dropdown-menu-item:last-child {
  border-radius: 0 0 0.3125rem 0.3125rem;
}
