#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 100px;

  .header__title {
    color: $primary-color;
    font-family: "DM Sans";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .logo {
    height: 50px;
  }
}
