// Couleurs
// Remplacez les valeurs hexadécimales par les couleurs que vous utilisez réellement dans votre projet
$primary-color: #901c1c;
$secondary-color: #db8876;
$tertiary-color: #fafafa;
$text-color: #0000;
$text-color-primary: #d3573c;
$text-color-secondary: #901c1c;
$text-color-tertiary: #525252;

// Polices
// Remplacez 'Helvetica' et 'Georgia' par les polices que vous utilisez réellement dans votre projet
$base-font-family: "Helvetica", sans-serif;
$heading-font-family: "Georgia", serif;

// Espacements
// Ces valeurs sont des suppositions, remplacez-les par les espacements que vous utilisez réellement dans votre projet
$base-margin: 10px;
$base-padding: 10px;

// Tailles de police
// Ces valeurs sont des suppositions, remplacez-les par les tailles de police que vous utilisez réellement dans votre projet
$base-font-size: 16px;
$heading-font-size: 32px;

// Images
// Remplacez 'photographer-placeholder' par le chemin d'accès réel à votre image de remplacement
$photographer-placeholder: url("./src/assets/photographers/Photographers_ID_Photos/photographer-placeholder.jpg");
