body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact_modal {
  display: none;
}

#photograph-filter {
  display: flex;
  align-items: center;
  margin: 0 100px;
  padding: 2rem 0;
  color: #000;
  font-family: "DM Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

article a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article .photographer-name {
  color: #d3573c;
  text-align: center;
  font-family: "DM Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
article .photographer-location {
  color: #901c1c;
  text-align: center;
  font-family: "DM Sans";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
article .photographer-tagline {
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
article .photographer-price {
  color: #525252;
  text-align: center;
  font-family: "DM Sans";
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photographer-portrait {
  width: 12.5rem;
  height: 12.5rem;
  flex-shrink: 0;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 100px;
}
#header .header__title {
  color: #901c1c;
  font-family: "DM Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#header .logo {
  height: 50px;
}

.dropdown {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  margin: 0 20px;
  padding: 2rem 0;
}

.dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3125rem;
  background: #901c1c;
  color: #fff;
  text-align: left;
  padding: 21px;
  width: 170px;
  height: 70px;
  font-family: "DM Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 90px;
  left: 0;
  border-radius: 0.3125rem;
  background: #901c1c;
  color: #fff;
  padding: 11px;
  width: 170px;
  height: 110px;
  font-family: "DM Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 1;
}

.dropdown-menu-item {
  padding: 11px;
  border-top: 1px solid #fff;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3125rem;
  background-color: #fafafa;
  width: 77.5rem;
  height: 19.5625rem;
  flex-shrink: 0;
  margin: 0 100px;
  padding: 40px;
}
.photograph-header .photographer-name {
  font-size: 4rem;
}
.photograph-header .contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photographer-info {
  display: flex;
  flex-direction: column;
  height: 4rem;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem;
}
.photographer-info .photographer-location {
  font-size: 1.5rem;
}
.photographer-info .photographer-tagline {
  font-size: 1.125rem;
}

#contact_modal {
  display: none;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

/*# sourceMappingURL=main.css.map */
